@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}




.something {
  margin: 0;
  padding: 0;
  background-color: #DBD7D8;
  
}

.img {
    width:100%;
  
  
}

.holder {
	position: relative;
	padding: 0;
	margin: 0;
}

.caption {
	color: #fff;
	position: absolute;
	bottom: 0;
	margin: 1em;
	padding: 1em;
}

.table-heading {
	color: #CBC6C6;
	
}

.table {

}

.heading {
	font-size: 1em;
	
}